@using UserEx.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
	<p>
		<h2 class="text-danger">Best UX Guaranteed</h2>
	</p>
</div>
