@using UserEx.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UserEx.Web.ViewModels.Billing.BillingResultDataModel

@inject UserManager<ApplicationUser> UserManager

@{
	this.ViewBag.Title = "Your Billing data:";
	var userIsAdmin = User.IsAdmin();
}

<h2 class="heading-margin text-center">@ViewBag.Title</h2>

<div class="mb-5"></div>

<div class="container px-4">
	<div class="row gx-5">
		<div class="col">
			<div class="p-3 border bg-light"><strong>Billing data by chosen provider:</strong></div>
		</div>
		<div class="col">
			<div class="p-3 border bg-light">@Model.SumCostByProvider.ToString("C2")</div>
		</div>
	</div>
</div>

<div class="mb-5"></div>

<div class="container px-4">
	<div class="row gx-5">
		<div class="col">
			<div class="p-3 border bg-light"><strong>Billing data by selected time spam:</strong></div>
		</div>
		<div class="col">
			<div class="p-3 border bg-light">@Model.SumCostByDate.ToString("C2")</div>
		</div>
	</div>
</div>

<div class="mb-5"></div>

<div class="container px-4">
	<div class="row gx-5">
		<div class="col">
			<div class="p-3 border bg-light"><strong>Billing data procured numbers:</strong></div>
		</div>
		<div class="col">
			<div class="p-3 border bg-light">@Model.SumProcuredNumbers.ToString("C2")</div>
		</div>
	</div>
</div>

<div class="mb-5"></div>

<div class="mb-3"></div>


<div class="col-md-4 offset-4 text-center">
	<h2>Your Balance data:</h2>
</div>

<div class="mb-3"></div>

@if (userIsAdmin)
{
	<div class="jumbotron d-none" id="statistics">
		<div class="row">
			<h3 class="col-md-4 text-center" id="didlogic-balance"></h3>
			<h3 class="col-md-4 text-center" id="didww-balance"></h3>
			<h3 class="col-md-4 text-center" id="squaretalk-balance"></h3>
		</div>
	</div>


@section Scripts{
	<script>
		window.addEventListener('load', ev => {
			$.get('/api/balancesapi',
				(data) => {
					$('#didlogic-balance').text(data.balanceAmount + "$ DIDlogic balance");
					$('#statistics').removeClass('d-none');
					@*
					$('#statistics-button').hide();
					*@
				});
		});

		window.addEventListener('load', ev => {
			$.get('/api/balancesdidwwapi',
				(data) => {
					$('#didww-balance').text(data.balanceAmount + "$ DIDww balance");
					$('#statistics').removeClass('d-none');
					
					@*
					$('#statistics-button').hide();
					*@
					});
			});

		window.addEventListener('load', ev => {
			$.get('/api/balancessquaretalkapi',
				(data) => {
					$('#squaretalk-balance').text(data.balanceAmount + " SquareTalk balance");
					$('#statistics').removeClass('d-none');

					@*
					$('#statistics-button').hide();
					*@
				});
		});
	</script>

}
}
