@using UserEx.Data.Models
@using Microsoft.AspNetCore.Identity
@model UserEx.Web.ViewModels.Billing.BillingCostByProviderModel

@inject UserManager<ApplicationUser> UserManager

@{
	this.ViewBag.Title = "Cost by provider test";
	var userIsAdmin = User.IsAdmin();
}

<h2 class="heading-margin text-center">@ViewBag.Title</h2>

<div class="p-3 border bg-light">
	<h2>@Model.SumCostByProvider.ToString("C2")</h2>
</div>
