@using UserEx.Common
@using UserEx.Data.Models
@using Microsoft.AspNetCore.Identity
@using UserEx.Services.Data.Partners
@using static UserEx.Common.GlobalConstants
@using AutoMapper.QueryableExtensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IPartnerService Partners

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
            var userId = User.GetId();
	        var userIsPartner = Partners.IsPartner(userId);
	    var userIsAdmin = User.IsAdmin();
        

        @if (userIsPartner && !userIsAdmin)
        {
	        <li class="nav-item">
		        <a class="nav-link text-dark" asp-area="" asp-controller="Numbers" asp-action="OfficeDids">Office DIDs</a>
	        </li>
	        <li class="nav-item">
		        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Partner: @UserManager.Users.Where(u => u.Id==userId).Select(x=>x.FullName).FirstOrDefault()</a>
	        </li>
        }

	   else if(!userIsAdmin)
	   {
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="" asp-controller="Partners" asp-action="SetUp">Set Up Partner Profile</a>
		   </li>
	   }
	   else if(userIsAdmin)
	   {
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="Billing" asp-action="Billing">Billing</a>
		   </li>
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="Records" asp-action="UploadRecord">CDRs</a>
		   </li>
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="Rates" asp-action="UploadRate">Rates</a>
		   </li>
		   @*
			    <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="BalancesApi" asp-action="GetBalance">Balance</a>
		   </li>
		   *@
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="Chart" asp-action="Chart">Charts</a>
		   </li>
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="NumbersDidlogicApi" asp-action="UploadDids">ApiDIDs(DidLogic)</a>
		   </li>
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="NumbersApi" asp-action="UploadDids">ApiDIDs(DIDww)</a>
		   </li>

		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Administration" asp-controller="Numbers" asp-action="All">Administration</a>
		   </li>
		   <li class="nav-item">
			   <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Core OPS: @UserManager.Users.Where(u => u.Id==userId).Select(x=>x.FullName).FirstOrDefault()</a>
		   </li>
	   }
	    

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
